.timing_section {
	margin: 150px 0;
	position: relative;

	img {
		width: 100%;
		height: 60vh;
		object-fit: cover;
		opacity: 0.6;
	}

	.content {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0 200px;
		height: 100%;
		display: flex;
		align-items: center;

		h1 {
			font-family: Anodina;
			font-style: normal;
			font-weight: bold;
			font-size: 50px;
			line-height: 120%;
			color: #000;
		}

		p {
			margin-top: 40px;
			font-family: Anodina;
			font-style: normal;
			font-weight: 600;
			font-size: 22px;
			line-height: 140%;
			color: #000;
		}

		button {
			margin-top: 40px;
			height: 50px;
			width: 240px;
			font-weight: 400;
			background: transparent;
			border: 1px solid #fff;
			box-sizing: border-box;
			font-size: 18px !important;

			.link {
				color: #000;
			}

			.arrow {
				padding-left: 15px;
				font-size: 50px;
			}

			&:hover {
				.link {
					color: #000;
				}
				background-color: #fff;
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	.timing_section {
		// margin: 150px 0;

		img {
			width: 100%;
			height: 100%;
		}

		.content {
			padding: 0 150px;

			h1 {
				font-size: 40px;
			}

			p {
				margin-top: 40px;
				font-size: 20px;
			}

			button {
				margin-top: 45px;
				// height: 50px;
				// width: 240px;

				// font-size: 18px;

				.arrow {
					font-size: 45px;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.timing_section {
		img {
			height: 320px;
		}

		.content {
			padding: 0 100px;

			h1 {
				font-size: 35px;
			}

			p {
				margin-top: 30px;
				font-size: 22px;
			}

			button {
				margin-top: 30px;
				height: 40px;
				width: 180px;

				font-size: 16px;

				.arrow {
					font-size: 39px;
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.timing_section {
		margin: 120px 0;

		img {
			height: 280px;
		}

		.content {
			padding: 0 75px;

			p {
				font-size: 18px;
			}

			h1 {
				font-size: 30px;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.timing_section {
		margin: 100px 0;

		img {
			height: 240px;
		}

		.content {
			padding: 0 50px;

			width: 80%;
			p {
				margin-top: 20px;
				font-size: 18px;
			}

			h1 {
				font-size: 30px;
			}

			button {
				margin-top: 20px;
				font-size: 16px;
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.timing_section {
		margin: 80px 0;

		img {
			height: 260px;
		}

		.content {
			padding: 0 30px;

			width: 70%;
			p {
				margin-top: 20px;
				font-size: 17px;
			}

			h1 {
				font-size: 30px;
			}

			button {
				margin-top: 20px;
				font-size: 16px;
			}
		}
	}
}
